{% extends "base.html" %}

{% load static %}

{% block content %}

<style>
    .col-md-3.cart-totals {
        float: right;
    }
</style>


<div class="main-content shopping-cart"> 
    <div class="container">            
      <ul class="breadcrumb">
          <li><a href="{% url 'main:homepage' %}">Главная</a></li>
          <li class="active">Корзина покупок</li>
      </ul>
      <div class="title-product">
          <h3>Корзина покупок</h3>
      </div>
      {% if cart %}
        <table class="table space-80">
            <thead>
                <tr>
                    <th class="product-photo">Изображение</th>
                    <th class="produc-name">Название</th>
                    <th class="description">Описание</th>
                    <th class="product-price">Цена</th>
                    <th class="product-quantity">Количество</th>
                    <th class="total-price">Итог </th>
                    <th class="product-remove"></th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart %}
                    {% with product=item.watch %}
                    <tr class="item_cart">
                        <td class="product-photo">
                            {% if product.images.all %}
                                <a href="{% url 'shop:watch_detail' pk=product.id %}">
                                    <img src="{{ product.images.all.0.image.url }}" alt="Futurelife">
                                </a>
                            {% endif %}
                        </td>
                        <td class="produc-name"><a href="{% url 'shop:watch_detail' pk=product.id %}" title="">{{ product.brand.name }} {{ product.name }}</a></td>
                        <td class="description">{{ product.description|truncatewords:20 }}</td>
                        <td class="product-price">{{ product.price }} Р.</td>
                        <td class="product-quantity">{{ item.quantity }}</td>
                        <td class="total-price">{{ item.total_price }}</td>
                        <td class="product-remove"><a href="{% url "shop:cart_remove" pk=item.watch.id %}" title="">x</a></td>
                    </tr>
                    {% endwith %}
                {% endfor %}
            </tbody>
        </table>
        <div class="shipping-total">
            <div class="col-md-3 cart-totals text-price">
                <div class="title-product">
                    <h3>Общий итог</h3>
                </div>
                <ul>
                    <li><span class="text">Итог:</span><span class="number">{{ cart.get_total_price }} Р.</span></li>
                </ul>
                <a class="btn link-button" href="{% url 'orders:checkout' %}" title="Перейти к оформлению заказа">Оформить</a>
                <a class="btn link-button" href="{% url 'shop:watch_list' %}" title="Вернуться в каталог">В каталог</a>
            </div>
        </div>
        {% else %}
        {% include "includes/empty_cart.html" %}
        {% endif %}
    </div>
</div>

{% endblock %}