{% extends "base.html" %}

{% load static %}

{% load django_bootstrap5 %}

{% block content %}

<style>
    .image-container {
        position: relative;
    }
    
    .image-container img {
        width: 100%;
        height: auto;
    }
    
    .text-overlay {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 75%; /* Ширина текста в процентах от ширины изображения */
        text-align: center;
    }
    
    .text-overlay h3 {
        color: #000;
        margin: 0;
        padding: 15px; /* Отступы вокруг текста */
    }
    .form-title {
        margin-bottom: 25px; /* Измените значение на ваше усмотрение */
    }

    .banner-home2-top {
        display: flex;
        justify-content: space-between;
    }
    .col-md-3 {
        flex: 0 0 auto;
        width: 25%;
        box-sizing: border-box; /* Учтите внутренние отступы и границы в расчете ширины */
        margin-right: 10px;
        padding: 0; /* Установите внутренние отступы на 0 */
        margin: 0; /* Установите внешние отступы на 0 */
        border: 0; /* Убедитесь, что границы отсутствуют */
    }
    .text-overlay h3 {
        color: #fff; /* Цвет текста */
        margin: 0;
    }
</style>

<div class="tp-banner-container ver6">
    <div class="tp-banner">
        <ul>
            <li data-transition="fade" data-slotamount="7" data-masterspeed="100000">
                <img src="{% static 'images/Hermes-home6-bg-slideshow1.jpg' %}" alt="Futurelife-home2-slideshow" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                <div class="tp-caption large_bold_grey color-brown font-nel skewfromleft customout size-76"
                    data-x="1020"
                    data-y="190"
                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="800"
                    data-start="1600"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="on"
                    style="z-index: 9">Продать часы
                </div>
            </li>
        </ul>
    </div>
    <div class="tp-bannertimer"></div>
</div>

<div class="main-content">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="{% url 'main:homepage' %}">Главная</a></li>
              <li class="active">Продать часы</li>
          </ul>
        <div class="space-10">
            <div class="col-md-3 col-sm-3">
                <div class="effect-v6 hover-effect-images">
                    <img src="/static/images/Hermes-home4-banner-top1.jpg" alt="Banner">
                    <div class="text-overlay">
                        <h3>Правовая основа</h3>
                        <p>Гарантия чистоты сделки</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="effect-v6 hover-effect-images">
                    <img src="/static/images/Hermes-home4-banner-top1.jpg" alt="Banner">
                    <div class="text-overlay">
                        <h3>Выезд оценщика</h3>
                        <p>В случае необходимости</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="effect-v6 hover-effect-images">
                    <img src="/static/images/Hermes-home4-banner-top1.jpg" alt="Banner">
                    <div class="text-overlay">
                        <h3>Расчёт</h3>
                        <p>Удобным для Вас способом</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="effect-v6 hover-effect-images">
                    <img src="/static/images/Hermes-home4-banner-top1.jpg" alt="Banner">
                    <div class="text-overlay">
                        <h3>Выплата</h3>
                        <p>До 90% рыночной стоимости</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-content space-20">
    <div class="container">
        <div class="banner-home6-bottom space-20">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <a class="hover-effect-images-ver2" href="#" title="Banner">
                    <img src="/static/images/Hermes-home6-banner-bottom1.jpg" alt="Banner">
                    <div class="text">
                        <h3>Выплачиваем <span>до 90%</span></h3>
                        <h4>рыночной стоимости</h4>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <a class="hover-effect-images-ver2" href="#" title="Banner">
                    <img src="/static/images/Hermes-home6-banner-bottom1.jpg" alt="Banner">
                    <div class="text">
                        <h3>Необходима оценка?</h3>
                        <p>Удобный расчёт и правовая сделка?</p>
                        <h4>Это к нам!</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% include "includes/extend_message_form.html" %}

{% endblock content %}