{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="tp-banner-container ver6">
    <div class="tp-banner">
        <ul>
            <li data-transition="fade" data-slotamount="7" data-masterspeed="100000">
                <img src="{% static 'images/Hermes-home6-bg-slideshow1.jpg' %}" alt="Futurelife-home2-slideshow" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                <div class="tp-caption large_bold_grey color-brown font-nel skewfromleft customout size-76"
                    data-x="1020"
                    data-y="190"
                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="800"
                    data-start="1600"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="on"
                    style="z-index: 9">Наши услуги
                </div>
            </li>
        </ul>
    </div>
    <div class="tp-bannertimer"></div>
</div>

<div class="container space-50">
    <ul class="breadcrumb">
        <li><a href="{% url 'main:homepage' %}">Главная</a></li>
          <li class="active">Услуги</li>
      </ul>
    <div class="row">
      <div class="col-md-4">
        <div class="hover-effect-images-ver1" title="">
            <img src="{% static 'images/Hermes-home3-bannner-bottom2.jpg' %}" alt="Banner">
            <div class="text text-center">
                <h3>Скупка брендовых часов</h3>
            </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="hover-effect-images-ver1" title="">
            <img src="{% static 'images/Hermes-home3-bannner-bottom2.jpg' %}" alt="Banner">
            <div class="text text-center text text-center-center">
                <h3>Скупка бриллиантов</h3>
            </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="hover-effect-images-ver1" title="">
            <img src="{% static 'images/Hermes-home3-bannner-bottom2.jpg' %}" alt="Banner">
            <div class="text text-center text text-center-center">
                <h3>Оценка бриллиантов</h3>
            </div>
        </div>
      </div>
    </div>
</div>

<div class="container space-50">
    <div class="row">
      <div class="col-md-4">
        <div class="hover-effect-images-ver1" title="">
            <img src="{% static 'images/Hermes-home3-bannner-bottom2.jpg' %}" alt="Banner">
            <div class="text text-center text text-center-center">
                <h3>Обмен швейцарских часов</h3>
            </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="hover-effect-images-ver1" title="">
            <img src="{% static 'images/Hermes-home3-bannner-bottom2.jpg' %}" alt="Banner">
            <div class="text text-center text text-center-center">
                <h3>Скупка Vertu</h3>
            </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="hover-effect-images-ver1" title="">
            <img src="{% static 'images/Hermes-home3-bannner-bottom2.jpg' %}" alt="Banner">
            <div class="text text-center text text-center-center">
                <h3>Оценка драгоценных камней</h3>
            </div>
        </div>
      </div>
    </div>
</div>

<div class="container space-50">
    <div class="row">
      <div class="col-md-4">
        <div class="hover-effect-images-ver1" title="">
            <img src="{% static 'images/Hermes-home3-bannner-bottom2.jpg' %}" alt="Banner">
            <div class="text text-center text text-center-center">
                <h3>Оценка рубинов</h3>
            </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="hover-effect-images-ver1" title="">
            <img src="{% static 'images/Hermes-home3-bannner-bottom2.jpg' %}" alt="Banner">
            <div class="text text-center">
                <h3>Оценка золотых часов</h3>
            </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="hover-effect-images-ver1" title="">
            <img src="{% static 'images/Hermes-home3-bannner-bottom2.jpg' %}" alt="Banner">
            <div class="text text-center">
                <h3>Оценка швейцарских часов</h3>
            </div>
          </div>
      </div>
    </div>
</div>

<div class="container space-50">
    <div class="row">
      <div class="col-md-4">
        <div class="hover-effect-images-ver1" title="">
            <img src="{% static 'images/Hermes-home3-bannner-bottom2.jpg' %}" alt="Banner">
            <div class="text text-center">
                <h3>Залог бриллиантов</h3>
            </div>
          </div>
      </div>
  
      <div class="col-md-4">
        <div class="hover-effect-images-ver1" title="">
            <img src="{% static 'images/Hermes-home3-bannner-bottom2.jpg' %}" alt="Banner">
            <div class="text text-center">
                <h3>Аукцион часов</h3>
            </div>
          </div>
      </div>

    </div>
</div>

{% include "includes/extend_message_form.html" %}

{% endblock %}