{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="main-content space-80">
    <div class="container">
        <div class="ordering">
            <a title="Выберите удобный для Вас вариант">Выбрать отображение:</a>
            <span class="list"></span>
            <span class="col active"></span>
            <form action="#" method="get" class="order-by">
                <select class="orderby" name="orderby">
                        <option>Sort by popularity</option>
                        <option selected="selected">Sort by average rating</option>
                        <option>Sort by newness</option>
                        <option>Sort by price: low to high</option>
                        <option>Sort by price: high to low</option>
                </select>
            </form>
        </div>
    </div>
    <div class="products grid_full">
        <div class="container">
            {% for watch in page_obj %}
                {% include "includes/product_card_for_list_page.html" %}
            {% endfor %}
        </div>
    </div>
    <div class="container">
        <div class="pagination-container">
            {% include "includes/pagination.html" %}
        </div>
    </div>
</div>

{% endblock  %}