{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="main-content space-80"> 
    <div class="container">            
      <ul class="breadcrumb">
        <li><a href="{% url 'main:homepage' %}">Главная</a></li>
        <li class="active">Купить часы</li>
      </ul>   
      <div id="secondary" class="widget-area col-xs-12 col-md-3">
        <aside class="widget">
            <h3 class="widget-title">Категории
        </aside>

        <form method="get" action="{% url 'shop:watch_list' %}">
            <aside class="widget widget_product_categories">
                <ul class="product-categories">
                    <li><a href="" title="Пол">Кому</a>
                        <ul class="children">
                            {% for category in category_gender %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="{{ category.id }}" id="defaultCheck1" name="gender">
                                    <label class="form-check-label" for="gender_{{ category.id }}">
                                        &nbsp;&nbsp;{{ category.name }} ({{ category.num_watches }})
                                    </label>
                                </div>
                            {% endfor %}
                        </ul>
                    </li>
                    <li><a href="" title="Состояние">Состояние</a>
                        <ul>
                            {% for category in category_condition %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="{{ category.id }}" id="condition_{{ category.id }}" name="condition">
                                    <label class="form-check-label" for="condition_{{ category.id }}">
                                        &nbsp;&nbsp;{{ category.name }} ({{ category.num_watches }})
                                    </label>
                                </div>
                            {% endfor %}
                        </ul>
                    </li>
                    <li><a href="" title="Бренд">Бренд</a>
                        <ul>
                            {% for category in category_brand %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="{{ category.id }}" id="brand_{{ category.id }}" name="brand">
                                    <label class="form-check-label" for="brand_{{ category.id }}">
                                        &nbsp;&nbsp;{{ category.name }} ({{ category.num_watches }})
                                    </label>
                                </div>
                            {% endfor %}
                        </ul>
                    </li>
                    <li>
                        <a href="#" title="Стоимость">Стоимость</a>
                        <ul>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="5000" id="max_price_1" name="max_price_1">
                                <label class="form-check-label" for="max_price_1">
                                    &nbsp;&nbsp;Стоимость до 5000 Р. ({{ category_price_low }})
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="50000" id="max_price_2" name="max_price_2">
                                <label class="form-check-label" for="max_price_2">
                                    &nbsp;&nbsp;Стоимость до 50000 Р. ({{ category_price_mid }})
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="50000" id="min_price" name="min_price">
                                <label class="form-check-label" for="min_price">
                                    &nbsp;&nbsp;Стоимость свыше 50000 Р. ({{ category_price_hight }})
                                </label>
                            </div>
                        </ul>
                    </li>
                    <li><a href="" title="Цвет">Форма корпуса</a>
                        <ul>
                            {% for category in category_case_shape %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="{{ category.id }}" id="case_shape_{{ category.id }}" name="case_shape">
                                    <label class="form-check-label" for="brand_{{ category.id }}">
                                        &nbsp;&nbsp;{{ category.name }} ({{ category.num_watches }})
                                    </label>
                                </div>
                            {% endfor %}
                        </ul>
                    </li>
                    <li><a href="" title="Цвет">Материал корпуса</a>
                        <ul>
                            {% for category in category_body_material %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="{{ category.id }}" id="body_material_{{ category.id }}" name="body_material">
                                    <label class="form-check-label" for="body_material_{{ category.id }}">
                                        &nbsp;&nbsp;{{ category.name }} ({{ category.num_watches }})
                                    </label>
                                </div>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </aside>
            <button class="btn btn-primary space-10" type="submit" id="applyFilterBtn">Применить фильтр</button>
            <button class="btn btn-primary" type="submit" action="{% url 'shop:watch_list' %}">Сбросить фильтр</button>
        </form>
      </div>

      <div id="primary" class="col-xs-12 col-md-9">
        <div class="col">
            <span>Выбранные фильтры:</span>
            {% if filters_applied %}
              {% if max_price_1 %}
                <span class="applied-filter">Макс. стоимость: до {{ max_price_1 }} Р.</span>
              {% endif %}
              {% if max_price_2 %}
                <span class="applied-filter">Макс. стоимость: до {{ max_price_2 }} Р.</span>
              {% endif %}
              {% if min_price %}
                <span class="applied-filter">Мин. стоимость: от {{ min_price }} Р.</span>
              {% endif %}
              {% if brand %}
                  {% for br in brand %}
                    <span class="applied-filter">{{ br.name }}</span>
                  {% endfor %}
              {% endif %}
              {% if condition %}
                  {% for cond in condition %}
                    <span class="applied-filter">{{ cond.name }}</span>
                  {% endfor %}
              {% endif %}
              {% if gender %}
                  {% for gend in gender %}
                    <span class="applied-filter">{{ gend.name }}</span>
                  {% endfor %}
              {% endif %}
              {% if body_material %}
                  {% for bm in body_material %}
                    <span class="applied-filter">{{ bm.name }}</span>
                  {% endfor %}
              {% endif %}
              {% if case_shape %}
                  {% for csh in case_shape %}
                    <span class="applied-filter">{{ csh.name }}</span>
                  {% endfor %}
              {% endif %}
            {% else %}
              <span class="no-filters-applied">нет примененных фильтров.</span>
            {% endif %}
          </div>
              <div class="ordering">
                  <a href="" title="">Выбрать отображение:</a>
                  <span class="list"></span>
                  <span class="col active"></span>
              </div>
              <div class="products grid_full grid_sidebar">
                {% for watch in page_obj %}
                    {% include "includes/product_card_for_list_page.html" %}
                {% endfor %}
              </div>
              {% if not filters_applied %}
                  <div class="pagination-container">
                      {% include "includes/pagination.html" %}
                  </div>
              {% endif %}
          </div>
        </div>
    </div>
</div>
{% endblock  %}