{% extends "base.html" %}

{% load static %}

{% block content %}

<style>
    .characteristics {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .characteristic-item {
        margin-bottom: 5px;
    }

    .characteristic-label {
        font-weight: bold;
        display: inline-block;
        width: 100px; /* Уменьшите ширину лейбла по вашему усмотрению */
        font-size: 12px; /* Уменьшите размер шрифта по вашему усмотрению */
    }

    .characteristic-value {
        display: inline-block;
        width: 100px; /* Уменьшите ширину лейбла по вашему усмотрению */
        font-size: 12px; /* Уменьшите размер шрифта по вашему усмотрению */
    }
</style>

<div class="main-content space-40">
    <div class="container">     
        <div class="product-details-content">
            <div class="col-md-6 col-sm-6">
                <div class="product-img-box">
                    <a id="image-view" title="Product Image">
                        <img id="image" src="" alt="Product"/>
                    </a>
                    <div class="product-thumb">
                        {% for image in product.images.all %}
                            <ul class="thumb-content">
                                <li class="thumb">
                                    <a href="{{ image.image.url }}" title="thumb product view1" onclick="changeMainImage('{{ image.image.url }}');return false;">
                                        <img src="{{ image.image.url }}" alt="thumb product1" style="max-width: 870px; max-height: 1110px;">
                                    </a>
                                </li>
                            </ul>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="product-name space-30">
                    <h1>{{ product.brand.name }}</h1>
                    <h2>{{ product.name }}</h2>
                    <p class="price">GB333</p>
                </div>
                <div class="wrap-price">
                    <p class="price">{{ product.price }} Р.</p>
                </div>
                <div class="options">
                    <div class="hoz-tab-container space-padding-tb-40">
                        <ul class="tabs">
                            <li class="item" rel="description">Описание</li>
                            <li class="item" rel="characteristics">Характеристики</li>
                        </ul>
                        <div class="tab-container space-50">
                            <div id="description" class="tab-content">
                                <p>
                                    {{ product.description }}
                                </p>
                            </div>
                            <div id="characteristics" class="tab-content">
                                <div class="col-md-6">
                                    <div class="space-10">
                                        <div>
                                            <ul class="characteristics">
                                                <li class="characteristic-item">
                                                    <span class="characteristic-label">Бренд:</span>
                                                    <span class="characteristic-value">{{ product.brand.name }}</span>
                                                </li>
                                                <li class="characteristic-item">
                                                    <span class="characteristic-label">Название часов:</span>
                                                    <span class="characteristic-value">{{ product.name }}</span>
                                                </li>
                                                <li class="characteristic-item">
                                                    <span class="characteristic-label">Артикул/модель:</span>
                                                    <span class="characteristic-value">{{ product.article }}</span>
                                                </li>
                                                
                                                <li class="characteristic-item">
                                                    <span class="characteristic-label">Страна:</span>
                                                    <span class="characteristic-value">{{ product.country.name }}</span>
                                                </li>
                                                <li class="characteristic-item">
                                                    <span class="characteristic-label">Механизм:</span>
                                                    <span class="characteristic-value">{{ product.mechanism.name }}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="space-10">
                                        <div>
                                            <ul class="characteristics">
                                                <li class="characteristic-item">
                                                    <span class="characteristic-label">Водозащита:</span>
                                                    <span class="characteristic-value">{{ product.water_resistance.name }}</span>
                                                </li>
                                                <li class="characteristic-item">
                                                    <span class="characteristic-label">Материал корпуса:</span>
                                                    <span class="characteristic-value">{{ product.body_material.name }}</span>
                                                </li>
                                                <li class="characteristic-item">
                                                    <span class="characteristic-label">Браслет:</span>
                                                    <span class="characteristic-value">{{ product.circlet.name }}</span>
                                                </li>
                                                <li class="characteristic-item">
                                                    <span class="characteristic-label">Цвет:</span>
                                                    <span class="characteristic-value">{{ product.color.name }}</span>
                                                </li>
                                                <li class="characteristic-item">
                                                    <span class="characteristic-label">Форма корпуса:</span>
                                                    <span class="characteristic-value">{{ product.case_shape.name }}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="products">
                            <div class="product product-details">
                                <a href="#" class="add-to-cart">В корзину</a>
                                <div class="action">
                                    <a title="В избранное" href="#"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>  
        </div>   
    </div>  
</div>
<div class="container space-40" id="similarProductsBlock">
    <div class="col-12">
        <div>
            <div class="title-product">
                <h3>Похожие товары</h3>
            </div>
            <div class="feature-product color-home2">
                <div class="product-tab-content products">
                    {% include "includes/product_card.html" %}
                    {% include "includes/product_card.html" %}
                    {% include "includes/product_card.html" %}
                    {% include "includes/product_card.html" %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}