{% extends "base.html" %}

{% load django_bootstrap5 %}

{% block content %}

<div class="container space-padding-tb-30">
  <ul class="breadcrumb">
    <li><a href="{% url 'main:homepage' %}">Главная</a></li>
    <li class="active">Частые вопросы</li>
  </ul>
  <div class="col-md-6">

    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0 space-10">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Сколько по времени занимает оценка часов?
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body col-md-12 space-10">
          Мы производим оценку ваших часов за 10-15 минут
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0 space-10">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Какие часы я могу вам продать?
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body col-md-12 space-10">
          Наша специализация - элитные швейцарские часы и брендовые украшения. Также мы приобретаем бриллианты (изделия с бриллиантами). Есть дополнительные услуги - обмена часов (с вашей или нашей доплатой), залога часов.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingFour">
        <h2 class="mb-0 space-10">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Как вы выплачиваете сумму за выкупленные часы
          </button>
        </h2>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
        <div class="card-body col-md-12 space-10">
          Выплата происходит способом удобным для клиента и не зависит от суммы выкупа. Мы можем предоставить всю сумму наличными (в день обращения) или же произвести безналичный перевод на указанный вами счет.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingFive">
        <h2 class="mb-0 space-10">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            Есть ли у вас услуга - Выезда оценщика?
          </button>
        </h2>
      </div>
      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
        <div class="card-body col-md-12 space-10">
            Да. Наши специалисты смогут подъехать в указанное вами место. При себе у оценщика есть бланки договоров и денежные суммы, необходимые для выкупа часов. Поэтому мы можем сразу выкупить ваши часы. Для ускорения процедуры рекомендуем предварительно отправить фото ваших часов через форму на сайте.
          </div>
        </div>
      </div>

  </div>
  <div class="col-md-6 space-padding-50 contact-form contact-form-bg">
      <h3 class="space-50">Остались вопросы? Напиши нам!</h3>

      <form class="form-horizontal" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% for field in form %}
              <div class="form-group col-md-12{% if field.errors %} has-error{% endif %}">
                  {% bootstrap_field field form_group_class='my_custom_class' %}
              </div>
          {% endfor %}
          <button type="submit" class="btn link-button">Отправить</button>
      </form>

  </div>
</div>

{% endblock  %}