{% extends "base.html" %}

{% block content %}
<div class="tp-banner-container ver4">
    <div class="tp-banner" >
        <ul>    <!-- SLIDE  -->
            <!-- SLIDE  -->
            <li data-transition="random" data-slotamount="6" data-masterspeed="1000" >
                <!-- MAIN IMAGE -->
                <img src="static/images/Hermes-home4-bg-slideshow1.jpg"  alt="Futurelife-home2-slideshow"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                <!-- LAYER NR. 3 -->
                <div class="tp-caption large_bold_grey color-white skewfromleft customout size-90"
                    data-x="955"
                    data-y="285"
                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="800"
                    data-start="1600"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="on"
                    style="z-index: 9">Designs.
                </div>
                <!-- LAYER NR. 4 -->
                <div class="tp-caption large_normal_grey font-ro color-brand skewfromright customout size-60"
                    data-x="960"
                    data-y="350"
                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="800"
                    data-start="1700"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="on"
                    style="z-index: 7">Best & creative
                </div>

                <!-- LAYER NR. 5 -->
                <div class="tp-caption welcome size-16 skewfromright customout"
                    data-x="964"
                    data-y="450"
                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="800"
                    data-start="1800"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="on"
                    style="z-index: 7">It's a long established... fact that a reader will be distracted.
                </div>

                <!-- LAYER NR. 7 -->
                <div class="tp-caption skewfromright customout link-1 bg-brand height-50"
                    data-x="965"
                    data-y="550"
                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="800"
                    data-start="1500"
                    data-easing="Power4.easeOut"
                    data-endspeed="300" 
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="on"
                    style="z-index: 8"><a href="#" title="View Now" class="">View Now</a>
                </div>

                <!-- LAYER NR. 8s -->
                <div class="tp-caption skewfromright customout link-1 link-2 height-50"
                    data-x="1156"
                    data-y="550"
                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="1000"
                    data-start="1500"
                    data-easing="Power4.easeOut"
                    data-endspeed="300" 
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="on"
                    style="z-index: 8"><a href="#" title="Follow" class="">Follow</a>
                </div>
            </li>
            <!-- SLIDER -->
            <!-- SLIDE  -->
            <li data-transition="random" data-slotamount="7" data-masterspeed="1000" >
                <!-- MAIN IMAGE -->
                <img src="static/images/Hermes-home4-bg-slideshow1.jpg"  alt="Futurelife-home2-slideshow"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                <!-- LAYER NR. 1 -->
                <div class="tp-caption large_normal_grey font-re color-brand skewfromleft customout size-36"
                    data-x="1090"
                    data-y="350"
                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="800"
                    data-start="1600"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="on"
                    style="z-index: 9">New Style 2016
                </div>
                <!-- LAYER NR. 2 -->
                <div class="tp-caption large_bold_grey font-re color-white skewfromright customout size-140"
                    data-x="875"
                    data-y="420"
                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="800"
                    data-start="1700"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="on"
                    style="z-index: 7">women
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption large_normal_grey font-re color-brand skewfromleft customout size-36"
                    data-x="1010"
                    data-y="530"
                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="500"
                    data-start="1000"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="on"
                    style="z-index: 7">incredible
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption large_normal_grey color-white skewfromleft customout size-36"
                    data-x="1214"
                    data-y="530"
                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="1000"
                    data-start="1500"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="on"
                    style="z-index: 7">collection
                </div>
                <!-- LAYER NR. 5 -->
                <div class="tp-caption welcome size-16 skewfromright customout"
                    data-x="1120"
                    data-y="580"
                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="1500"
                    data-start="1800"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="on"
                    style="z-index: 7">only in our store hermes
                </div>
            </li>
            <!-- SLIDER -->
        </ul>
    <div class="tp-bannertimer"></div>
</div>
</div>
                    <!-- End Slide-Show -->
<div class="banner-home2-top banner-home2-top-home4 space-80">
    <div class="col-md-4 col-sm-4 first">
        <div class="effect-v6 hover-effect-images">
            <img src="static/images/Hermes-home4-banner-top1.jpg" alt="Banner">
            <div class="action light-style">
                <h3>Women</h3>
                <p>amet consectetur adipiscing elit.</p>
                <a href="#" title="view collection">view collection</a>
            </div>
        </div>
    </div>
    <!-- End col-md-3 -->
    <div class="col-md-4 col-sm-4">
        <div class="effect-v6 hover-effect-images">
            <img src="static/images/Hermes-home4-banner-top1.jpg" alt="Banner">
            <div class="action light-style">
                <h3>Women</h3>
                <p>amet consectetur adipiscing elit.</p>
                <a href="#" title="view collection">view collection</a>
            </div>
        </div>
    </div>
    <!-- End col-md-6 -->
    <div class="col-md-4 col-sm-4">
        <div class="effect-v6 hover-effect-images">
            <img src="static/images/Hermes-home4-banner-top1.jpg" alt="Banner">
            <div class="action light-style">
                <h3>Women</h3>
                <p>amet consectetur adipiscing elit.</p>
                <a href="#" title="view collection">view collection</a>
            </div>
        </div>
    </div>
    <!-- End col-md-3 -->
</div>
<div class="space-50 wrap-hermes-collection">
    <div class="container">
    <div class="hermes-collection hermes-collection-home4">
        <div class="col-md-6">
            <a class="hover-effect-images-ver2" href="#" title="Banner">
                <img src="static/images/Hermes-home4-banner2-top.jpg" alt="Banner">
                <div class="text">
                    <p>Your travel start here!</p>
                    <h4>explore your</h4>
                    <h3>world</h3>
                </div>
            </a>
        </div>
        <!-- End col-md-6   -->
        <div class="col-md-6">
            <div class="slider-daily bottom-home1-title bottom-home1 hover-control-wrap">
            <div class="products">
                <div class="item-inner">
                    <div class="product">
                        <a class="product-images" href="#" title="">
                            <img class="primary_image" src="static/images/products/1.jpg" alt=""/>
                            <img class="secondary_image" src="static/images/products/1.jpg" alt=""/>
                        </a>
                        <p class="product-title">Bouble Fabric Blazer</p>
                        <p class="product-price">$ 69.90</p>
                        <a class="add-to-cart" href="#">Add to Cart</a>
                        <div class="action">
                            <a href="#" title="Like"><i class="fa fa-heart-o"></i></a>
                            <a href="#" title="View"><i class="fa fa-compress"></i></a>
                        </div>
                    </div>
                </div>
                <div class="item-inner">
                    <div class="product">
                        <a class="product-images" href="#" title="">
                            <img class="primary_image" src="static/images/products/1.jpg" alt=""/>
                            <img class="secondary_image" src="static/images/products/1.jpg" alt=""/>
                        </a>
                        <p class="product-title">Bouble Fabric Blazer</p>
                        <p class="product-price">$ 69.90</p>
                        <a class="add-to-cart" href="#">Add to Cart</a>
                        <div class="action">
                            <a href="#" title="Like"><i class="fa fa-heart-o"></i></a>
                            <a href="#" title="View"><i class="fa fa-compress"></i></a>
                        </div>
                    </div>
                </div>
                <div class="item-inner">
                    <div class="product sale">
                        
                        <a class="product-images" href="#" title="">
                            <img class="primary_image" src="static/images/products/1.jpg" alt=""/>
                            <img class="secondary_image" src="static/images/products/1.jpg" alt=""/>
                        </a>
                        <p class="product-title">Bouble Fabric Blazer</p>
                        <div class="product-price">
                            <span class="price">$ 69.90</span>
                            <span class="price-old">$ 670.99</span>
                            
                        </div>
                        <a class="add-to-cart" href="#">Add to Cart</a>
                        <div class="action">
                            <a href="#" title="Like"><i class="fa fa-heart-o"></i></a>
                            <a href="#" title="View"><i class="fa fa-compress"></i></a>
                        </div>
                    </div>
                </div>
                <div class="item-inner">
                    <div class="product ">
                        <span class="new lable">New</span>
                        <a class="product-images" href="#" title="">
                            <img class="primary_image" src="static/images/products/1.jpg" alt=""/>
                            <img class="secondary_image" src="static/images/products/1.jpg" alt=""/>
                        </a>
                        <p class="product-title">Bouble Fabric Blazer</p>
                        <p class="product-price">$ 69.90</p>
                        <a class="add-to-cart" href="#">Add to Cart</a>
                        <div class="action">
                            <a href="#" title="Like"><i class="fa fa-heart-o"></i></a>
                            <a href="#" title="View"><i class="fa fa-compress"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End product-tab-content products-->     
            </div>
            <!-- End slider-daily -->
        </div>
        <!-- End col-md-6 -->
    </div>
    <!-- End hermes collecttion -->
    </div>
</div>
<div class="main-content">
    <div class="container">
        <!-- End banner -->
        <!--End Feature Product -->
        <div class="banner-home4-bottom space-80">
            <div class="col-md-6">
                <a class="hover-effect-images" href="#" title="Banner">
                    <img src="static/images/Hermes-home4-banner-bottom.jpg" alt="Banner">
                    <div class="text">
                        <h3>Sling bags</h3>
                        <p>Top trands</p>
                        <p>at wholasale price.</p>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a class="hover-effect-images" href="#" title="Banner">
                    <img src="static/images/Hermes-home4-banner-bottom.jpg" alt="Banner">
                    <div class="text">
                        <h3>2016</h3>
                        <h5>Creative design</h5>
                        <h4>leather jacket</h4>
                        <p>collection</p>
                    </div>
                </a>
            </div>
        </div>
        <!-- End banner bottom home4 -->
    <div class="bottom-home1 bottom-home4 footer-bt bottom-home1-title">
</div>  
</div>
{% endblock %}