{% extends "base.html" %}

{% load django_bootstrap5 %}

{% block content %}

<style>
    .image-container {
        position: relative;
    }
    
    .image-container img {
        width: 100%;
        height: auto;
    }
    
    .text-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 75%; /* Ширина текста в процентах от ширины изображения */
        text-align: center;
    }
    
    .text-overlay h3 {
        color: #000;
        margin: 0;
        padding: 15px; /* Отступы вокруг текста */
    }
    .form-title {
        margin-bottom: 25px; /* Измените значение на ваше усмотрение */
    }
</style>

<div class="tp-banner-container space-60 ver6">
    <div class="tp-banner">
        <ul>
            <li data-transition="fade" data-slotamount="7" data-masterspeed="100000">
                <img src="static/images/Hermes-home6-bg-slideshow1.jpg" alt="Futurelife-home2-slideshow" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                <div class="tp-caption large_bold_grey color-brown font-nel skewfromleft customout size-76"
                    data-x="1020"
                    data-y="190"
                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="800"
                    data-start="1600"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="on"
                    style="z-index: 9">Часовой бутик
                </div>
            </li>
        </ul>
    </div>
    <div class="tp-bannertimer"></div>
</div>

<div class="banner-home6-top space-60">
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4">
                <div class="card border border-primary">
                    <div class="card-body">
                        <h2 class="form-title">Оставить заявку</h2>
                        <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                            <input type="hidden" name="form_name" value="message_form">
                            {% for field in form %}
                                <div class="form-group mb-3{% if field.errors %} has-error{% endif %}">
                                    {% bootstrap_field field form_group_class='my_custom_class' %}
                                </div>
                            {% endfor %}

                            <button type="submit" class="btn btn-primary">Отправить</button>

                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <a class="hover-effect-images" href="#" title="Заявка">
                    <div class="image-container">
                        <img src="static/images/time04.jpg" alt="Banner">
                        <div class="text-overlay">
                            <h3>
                                Скупка часов — основное направление деятельности нашей компании, которая специализируется на новых и б/у аксессуарах элитных брендов.
                                Все этапы данного мероприятия выполняются квалифицированными специалистами, поэтому клиент может быть уверен в выгодности и справедливости сделки.
                            </h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>


<div class="space-50 wrap-hermes-collection">
    <div class="container">
    <div class="hermes-collection hermes-collection-home4">
        <div class="col-md-6">
            <a class="hover-effect-images-ver2" href="#" title="Banner">
                <img src="static/images/Hermes-home4-banner2-top.jpg" alt="Banner">
                <div class="text">
                    <p>Здесь можно приобрести часы</p>
                    <h4>От знаменитых</h4>
                    <h4>брендов</h4>
                </div>
            </a>
        </div>
        <!-- End col-md-6   -->
        <div class="col-md-6">
            <div class="slider-daily bottom-home1-title bottom-home1 hover-control-wrap">
            <div class="products">
                {% include "includes/product_card.html" %}
                {% include "includes/product_card.html" %}
                {% include "includes/product_card.html" %}                
            </div>
            <!-- End product-tab-content products-->     
            </div>
            <!-- End slider-daily -->
        </div>
        <!-- End col-md-6 -->
    </div>
    <!-- End hermes collecttion -->
    </div>
</div>
<div class="main-content">
    <div class="container">
        <!-- End banner -->
        <!--End Feature Product -->
        <div class="banner-home4-bottom space-80">
            <div class="col-md-6">
                <a class="hover-effect-images" href="#" title="Banner">
                    <img src="static/images/Hermes-home4-banner-bottom.jpg" alt="Banner">
                    <div class="text">
                        <h3>Sling bags</h3>
                        <p>Top trands</p>
                        <p>at wholasale price.</p>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a class="hover-effect-images" href="#" title="Banner">
                    <img src="static/images/Hermes-home4-banner-bottom.jpg" alt="Banner">
                    <div class="text">
                        <h3>2016</h3>
                        <h5>Creative design</h5>
                        <h4>leather jacket</h4>
                        <p>collection</p>
                    </div>
                </a>
            </div>
        </div>
        <!-- End banner bottom home4 -->
    <div class="bottom-home1 bottom-home4 footer-bt bottom-home1-title">
</div>  
</div>
{% include "includes/extend_message_form.html" %}
{% endblock %}