{% extends "base.html" %}

{% load django_bootstrap5 %}

{% block content %}

<style>
    .image-container {
        position: relative;
    }
    
    .image-container img {
        width: 100%;
        height: auto;
    }
    
    .text-overlay {
        position: absolute;
        top: 10px; /* Отступ сверху */
        left: 10px; /* Отступ слева */
        display: inline-block;
        text-align: left; /* Выравнивание текста по левому краю */
        background-color: #ba933e; /* Прозрачный фон */
        padding: 15px; /* Отступы вокруг текста */
    }
    
    .text-overlay h3 {
        color: #fff; /* Цвет текста */
        margin: 0;
    }
    .text-overlay h5 {
        color: #fff; /* Цвет текста */
        margin: 0;
    }
    .form-title {
        margin-bottom: 25px;
    }
    /* Стили для десктопной версии */
    .tp-banner-container {
        margin-bottom: 60px; /* Исходный отступ для десктопа */
    }

    /* Стили для мобильной версии */
    @media (max-width: 767px) {
        .tp-banner-container {
            margin-bottom: 0; /* Отступ 0 в мобильной версии */
        }
    }
</style>

<div class="tp-banner-container ver6">
    <div class="tp-banner">
        <ul>
            <li data-transition="fade" data-slotamount="7" data-masterspeed="100000">
                <img src="static/images/Hermes-home6-bg-slideshow1.jpg" alt="Futurelife-home2-slideshow" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                <div class="tp-caption large_bold_grey color-brown font-nel skewfromleft customout size-76"
                    data-x="1020"
                    data-y="190"
                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                    data-speed="800"
                    data-start="1600"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="on"
                    style="z-index: 9">Часовой бутик
                </div>
            </li>
        </ul>
    </div>
    <div class="tp-bannertimer"></div>
</div>

<div class="container mt-4 space-60">
    <div class="row">
        <div class="col-md-4 space-padding-30 contact-form contact-form-bg">
            <h3 class="space-35">Оставить заявку</h3>

            <form class="form-horizontal" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group col-md-12{% if field.errors %} has-error{% endif %}">
                        {% bootstrap_field field form_group_class='my_custom_class' %}
                    </div>
                {% endfor %}
                <button type="submit" class="btn link-button">Отправить</button>
            </form>

        </div>
        <div class="container">
            <div class="col-md-4 col-sm-4 col-xs-6 space-40">
                <a class="hover-effect-images" href="#" title="Предложим самую высокую цену">
                    <img src="/static/images/Hermes-home6-banner-top1.jpg" alt="Banner" width="400" height="200">
                    <div class="text-overlay btn link-button">
                        <h5>Выгодно</h5>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 space-40">
                <a class="hover-effect-images" href="#" title="Бесплатная оценка по фото">
                    <img src="/static/images/Hermes-home6-banner-top1.jpg" alt="Banner" width="400" height="200">
                    <div class="text-overlay btn link-button">
                        <h5>Удобно</h5>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
                <a class="hover-effect-images" href="#" title="Выкуп и расчет в день обращения">
                    <img src="/static/images/Hermes-home6-banner-top1.jpg" alt="Banner" width="400" height="200">
                    <div class="text-overlay btn link-button">
                        <h5>Быстро</h5>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
                <a class="hover-effect-images" href="#" title="Юридическое сопровождение сделки">
                    <img src="/static/images/Hermes-home6-banner-top1.jpg" alt="Banner" width="400" height="200">
                    <div class="text-overlay btn link-button">
                        <h5>Безопасно</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="wrap-hermes-collection space-60">
    <div class="container">
        <div class="hermes-collection hermes-collection-home4">
            <div class="col-md-6">
                <a class="hover-effect-images-ver2" href="#" title="Banner">
                    <img src="static/images/Hermes-home4-banner2-top.jpg" alt="Banner">
                    <div class="text">
                        <p>Здесь можно приобрести часы</p>
                        <h4>от знаменитых</h4>
                        <h4>брендов</h4>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <div class="slider-daily bottom-home1-title bottom-home1 hover-control-wrap">
                    <div class="products">
                        {% for product in products %}
                            {% include "includes/product_card.html" %}
                        {% endfor %}           
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-content space-20">
    <div class="container">
        <div class="banner-home4-bottom">
            <div class="col-md-6">
                <a class="hover-effect-images" href="#" title="Banner">
                    <img src="/static/images/Hermes-home4-banner-bottom.jpg" alt="Banner">
                    <div class="text">
                        <h3>Еще один</h3>
                        <p>рекламный</p>
                        <p>баннер.</p>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a class="hover-effect-images" href="#" title="Banner">
                    <img src="/static/images/Hermes-home4-banner-bottom.jpg" alt="Banner">
                    <div class="text">
                        <h3>2023</h3>
                        <h5>Год</h5>
                        <h4>начала создания</h4>
                    </div>
                </a>
            </div>
        </div>
    <div class="bottom-home1 bottom-home4 footer-bt bottom-home1-title">
</div>  
</div>

{% endblock %}