{% load django_bootstrap5 %}

<div class="container space-60">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="card border border-primary">
                <div class="card-body">
                    <h2 class="form-title space-20">Оставить заявку</h2>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        <input type="hidden" name="form_name" value="extend_form">
                        {% for field in extend_form %}
                            <div class="form-group mb-3{% if field.errors %} has-error{% endif %}">
                                {% bootstrap_field field form_group_class='my_custom_class' %}
                            </div>
                        {% endfor %}

                        <div class="form-check space-20">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1" checked>
                            <label class="form-check-label" for="exampleCheck1">Я согласен с <a href="{% url 'util_pages:confidential' %}" title="Персональные данные">политикой конфиденциальности</a> сайта</label>
                        </div>

                        <button type="submit" class="btn btn-primary">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>