<footer id="footer" class="footer-v4">
    <div class="container">
        <div class="row footer-top">
            <div class="col-md-4">
                <h2><a href="#" title="Home">Hermes</a></h2>
                <p class="italic">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</p>
                <div class="infomation">
                    <p><i class="fa fa-bookmark-o"></i>907 Fifth Avenue, 09th floor. New York</p>
                    <p><i class="fa fa-phone-square"></i>+6-212-226-3688</p>
                    <p><i class="fa fa-envelope-o"></i>engotheme@gmail.com</p>
                </div>
            </div>
            <div class="col-md-2">
                <h3>My Account</h3>
                <ul class="menu">
                    <li><a href="#" title="About us">About us</a></li>
                    <li><a href="#" title="Delivery Information">Delivery Information</a></li>
                    <li><a href="#" title="Privacy Policy">Privacy Policy</a></li>
                    <li><a href="#" title="Discount">Discount</a></li>
                    <li><a href="#" title="Custom Service">Custom Service</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h3>Our Services</h3>
                <ul class="menu">
                    <li><a href="#" title="Sitemap">Sitemap</a></li>
                    <li><a href="#" title="Lorem Ipsum">Lorem Ipsum</a></li>
                    <li><a href="#" title="Proin gravida">Proin gravida</a></li>
                    <li><a href="#" title="Contact us">Contact us</a></li>
                    <li><a href="#" title="Velit auctor">Velit auctor</a></li>
                </ul>
            </div>                        
            <div class="col-md-4">
                <h3>Newsletter</h3>
                <p>Stay up to date about product drops, news and special sales</p>
                <form accept-charset="utf-8" method="get" action="#">
                    <input type="text" name="email" id="newsletter" title="Sign up for our newsletter" class="input-text required-entry validate-email" value="Enter Your Email" onfocus="if(this.value != '') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Enter Your Email';}">
                    <button type="submit" title="Subscribe" class="button button1">Subscribe</button>
                </form>
        </div>
    </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
        <div class="border-footer">
            <div class="col-md-6">
                <ul class="menu">
                    <li><a href="#" title="About us">About us</a></li>
                    <li><a href="#" title="Blog">Blog</a></li>
                    <li><a href="#" title="Advanced Search">Advanced Search</a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <p>Copyrigh 2016 by <a href="#" title="Engo Theme">Engo Theme</a>. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>