<header id="header" class="header-v4 header-box header-only-v4">
    <div class="header-top">
        <div class="container">
            <p class="icon-menu-mobile black"><i class="fa fa-bars" ></i></p>
            <div class="logo"><a href="#" title="Бутик часов и аксессуаров">Watchmaker</a></div>
            <nav class="mega-menu">
                <ul class="nav navbar-nav" id="navbar">
                <li class="level1 active dropdown"><a href="#" title="Веруться на главную страницу">Главная</a>
                </li>
                <li class="level1 dropdown"><a href="about-us.html" title="Выгодно" target="_blank">Продать часы</a>
                    <ul class="menu-level-1 dropdown-menu">
                        <li class="level2"><a href="checkout-identifi.html" title="Check Out Indentifi" target="_blank">Швейцарские часы</a></li>
                        <li class="level2"><a href="checkout-billing.html" title="Check Out Billing" target="_blank">Золотые часы</a></li>
                        <li class="level2"><a href="checkout-confirm.html" title="Check Out Confirm" target="_blank">Наручные часы</a></li>
                        <li class="level2"><a href="shopping-cart.html" title="Shopping Cart" target="_blank">Скупка элитных часов</a></li>
                        <li class="level2"><a href="wish-list.html" title="Wishlist" target="_blank">С бриллиантами</a></li>
                    </ul>
                </li>
                <li class="level1 dropdown"><a href="#" title="Удобно">Купить часы</a>
                    <div class="sub-menu dropdown-menu">
                        <ul class="menu-level-1">
                            <li class="level2"><a href="#">Мужские</a>
                                <ul class="menu-level-2">
                                    <li class="level3"><a href="#" title="Страна">Страна</a></li>
                                    <li class="level3"><a href="#" title="Корпус">Корпус</a></li>
                                    <li class="level3"><a href="#" title="Стиль">Стиль</a></li>
                                    <li class="level3"><a href="#" title="Популярное">Популярное</a></li>
                                    <li class="level3"><a href="#" title="Популярные бренды">Популярные бренды</a></li>
                                </ul>
                            </li>
                            <li class="level2"><a href="#">Женские</a>
                                <ul class="menu-level-2">
                                    <li class="level3"><a href="#" title="Страна">Страна</a></li>
                                    <li class="level3"><a href="#" title="Корпус">Корпус</a></li>
                                    <li class="level3"><a href="#" title="Стиль">Стиль</a></li>
                                    <li class="level3"><a href="#" title="Популярное">Популярное</a></li>
                                    <li class="level3"><a href="#" title="Популярные бренды">Популярные бренды</a></li>
                                </ul>
                            </li>
                            <li class="level2"><a href="#">Аксессуары</a>
                                <ul class="menu-level-2">
                                </ul>
                            </li>
                            <li class="level2">
                                <img src="static/images/Futurelife-sub-menu1.jpg" alt="Sub-Menu" />
                            </li>
                            <li class="level2">
                                <img src="static/images/Futurelife-sub-menu1.jpg" alt="Sub-Menu" />
                            </li>
                        </ul>
                        <div class="bottom-sub-menu">
                        <p>Мы следим за новостями индустрии часов и пополняем ассортимент актуальными новинками. К нам приходят снова и снова, чтобы приобрести самые лучшие часы и аксессуары!</p>
                        </div>
                    </div>
                </li>
                <li class="level1 dropdown"><a href="about-us.html" title="Узнай о них всё" target="_blank">Услуги</a>
                    <ul class="menu-level-1 dropdown-menu">
                        <li class="level2"><a href="checkout-identifi.html" title="Check Out Indentifi" target="_blank">Скупка брендовых часов</a></li>
                        <li class="level2"><a href="checkout-billing.html" title="Check Out Billing" target="_blank">Скупка бриллиантов</a></li>
                        <li class="level2"><a href="checkout-confirm.html" title="Check Out Confirm" target="_blank">Обмен швейцарских часов</a></li>
                        <li class="level2"><a href="shopping-cart.html" title="Shopping Cart" target="_blank">Оценка швейцарских часов</a></li>
                    </ul>
                </li>
                <li class="level1 dropdown"><a href="#" title="Page">Оценка часов</a>
                </li>
                <li class="level1 dropdown"><a href="single-post.html" title="Blog" target="_blank">О нас</a>
                </li>
                <li class="level1 dropdown"><a href="single-post.html" title="Blog" target="_blank">Контакты</a>
                </li>
                </ul>
            </nav>     
        </div>
    </div>
</header>