<header id="header" class="header-v6 color-home2">
    <div class="header-top">
        <div class="container">
            <div class="inner-container">
                <div class="col-md-12" style="display: flex; justify-content: space-between;">
                    <div style="text-align: left;">
                        <div style="margin-bottom: 10px;">
                            <p><i class="fa fa-bookmark-o"></i> г. Вожский, ул. Неизвестная, д. 10 </p>
                        </div>
                        <div style="margin-top: 10px;">
                            <p><i class="fa fa-envelope-o"></i> watchmaker@ya.com</p>
                        </div>
                    </div>
                    <div class="logo"><a href="#" title="Watchman">Watchman</a></div>
                    <div style="text-align: left;">
                        <div style="margin-bottom: 40px;">
                            <p class="icon-menu-mobile black"><i class="fa fa-bars" ></i></p>
                            <p class="hotline"><i class="fa fa-phone"></i> +7 (999) 777-55-33</p>
                        </div>
                        <div style="margin-top: 40px;">
                            <a href="#" title="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" title="sky"><i class="fa fa-skype"></i></a>
                            <a href="#" title="vibo"><i class="fa fa-vine"></i></a>
                        </div>
                    </div>
                </div>
                <nav class="mega-menu menu-v6 color-home6">
                    <ul class="nav navbar-nav" id="navbar">
                        <li class="level1 active dropdown"><a href="#" title="Веруться на главную страницу">Главная</a>
                        </li>
                        <li class="level1 dropdown"><a href="about-us.html" title="Продать часы" target="_blank">Продать часы</a>
                            <ul class="menu-level-1 dropdown-menu">
                                <li class="level2"><a href="checkout-identifi.html" title="Швейцарские часы" target="_blank">Швейцарские часы</a></li>
                                <li class="level2"><a href="checkout-billing.html" title="Золотые часы" target="_blank">Золотые часы</a></li>
                                <li class="level2"><a href="checkout-confirm.html" title="Наручные часы" target="_blank">Наручные часы</a></li>
                                <li class="level2"><a href="shopping-cart.html" title="Скупка элитных часов" target="_blank">Скупка элитных часов</a></li>
                                <li class="level2"><a href="wish-list.html" title="С бриллиантами" target="_blank">С бриллиантами</a></li>
                            </ul>
                        </li>
                        {% comment %} <li class="level1 dropdown"><a href="#" title="Удобно">Купить часы</a>
                            <div class="sub-menu dropdown-menu">
                                <ul class="menu-level-1">
                                    <li class="level2"><a href="#">Мужские</a>
                                        <ul class="menu-level-2">
                                            <li class="level3"><a href="#" title="Страна">Страна</a></li>
                                            <li class="level3"><a href="#" title="Корпус">Корпус</a></li>
                                            <li class="level3"><a href="#" title="Стиль">Стиль</a></li>
                                            <li class="level3"><a href="#" title="Популярное">Популярное</a></li>
                                            <li class="level3"><a href="#" title="Популярные бренды">Популярные бренды</a></li>
                                        </ul>
                                    </li>
                                    <li class="level2"><a href="#">Женские</a>
                                        <ul class="menu-level-2">
                                            <li class="level3"><a href="#" title="Страна">Страна</a></li>
                                            <li class="level3"><a href="#" title="Корпус">Корпус</a></li>
                                            <li class="level3"><a href="#" title="Стиль">Стиль</a></li>
                                            <li class="level3"><a href="#" title="Популярное">Популярное</a></li>
                                            <li class="level3"><a href="#" title="Популярные бренды">Популярные бренды</a></li>
                                        </ul>
                                    </li>
                                    <li class="level2"><a href="#">Аксессуары</a>
                                        <ul class="menu-level-2">
                                        </ul>
                                    </li>
                                    <li class="level2">
                                        <img src="static/images/Futurelife-sub-menu1.jpg" alt="Sub-Menu" />
                                    </li>
                                    <li class="level2">
                                        <img src="static/images/Futurelife-sub-menu1.jpg" alt="Sub-Menu" />
                                    </li>
                                </ul>
                                <div class="bottom-sub-menu">
                                <p>Мы следим за новостями индустрии часов и пополняем ассортимент актуальными новинками. К нам приходят снова и снова, чтобы приобрести самые лучшие часы и аксессуары!</p>
                                </div>
                            </div>
                        </li> {% endcomment %}
                        <li class="level1 dropdown"><a href="about-us.html" title="Узнай о них всё" target="_blank">Услуги</a>
                            <ul class="menu-level-1 dropdown-menu">
                                <li class="level2"><a href="checkout-identifi.html" title="Скупка брендовых часов" target="_blank">Скупка брендовых часов</a></li>
                                <li class="level2"><a href="checkout-billing.html" title="Скупка бриллиантов" target="_blank">Скупка бриллиантов</a></li>
                                <li class="level2"><a href="checkout-confirm.html" title="Обмен швейцарских часов" target="_blank">Обмен швейцарских часов</a></li>
                                <li class="level2"><a href="shopping-cart.html" title="Оценка швейцарских часов" target="_blank">Оценка швейцарских часов</a></li>
                            </ul>
                        </li>
                        <li class="level1 dropdown"><a href="#" title="Page">Оценка часов</a>
                        </li>
                        <li class="level1 dropdown"><a href="single-post.html" title="О нас" target="_blank">О нас</a>
                            <ul class="menu-level-1 dropdown-menu">
                                <li class="level2"><a href="checkout-identifi.html" title="О компании" target="_blank">О компании</a></li>
                                <li class="level2"><a href="checkout-billing.html" title="Частые вопросы" target="_blank">Частые вопросы</a></li>
                                <li class="level2"><a href="checkout-confirm.html" title="Статьи" target="_blank">Статьи</a></li>
                            </ul>
                        </li>
                        <li class="level1 dropdown"><a href="single-post.html" title="Контакты" target="_blank">Контакты</a>
                        </li>
                    </ul>
                </nav>
            </div>  
        </div>
    </div>
</header>