{% load static %}

<div class="item-inner">
    <div class="product">
        <a class="product-images" href="{{ watch.get_absolute_url }}" title="">
            {% for image in watch.images.all|slice:":2" %}
                <img class="{% if forloop.first %}primary_image{% else %}secondary_image{% endif %}" src="{{ image.image.url }}" alt="" style="max-width: 870px; max-height: 1110px;">
            {% endfor %}
        </a>
        <p class="product-title">{{ watch.brand }} {{ watch.name}}</p>
        <p class="description">{{ watch.description }}</p>
        <p class="product-price">{{ watch.price }} Р.</p>
        <form action="{% url 'shop:cart_add' pk=watch.pk %}" method="post">
            {{ cart_product_form }}
            {% csrf_token %}
            <input class="btn btn-primary" type="submit" value="В корзину">
        </form>
    </div>
</div>