{% load static %}

<div class="item-inner">
    <div class="product">
        <a class="product-images" href="{{ product.get_absolute_url }}" title="">
            {% for image in product.images.all|slice:":2" %}
                <img class="{% if forloop.first %}primary_image{% else %}secondary_image{% endif %}" src="{{ image.image.url }}" alt=""/>
            {% endfor %}
        </a>
        <p class="product-title">{{ product.brand }} {{ product.name }}</p>
        <p class="product-price">{{ product.price }} р.</p>
        <a class="add-to-cart" href="#">В корзину</a>
        <div class="action">
            <a href="#" title="В избранное"><i class="fa fa-heart-o"></i></a>
        </div>
    </div>
</div>
