{% load static %}

<div class="item-inner">
    <div class="product">
        <a class="product-images" href="{{ product.get_absolute_url }}" title="">
            {% for image in product.images.all|slice:":2" %}
                <img class="{% if forloop.first %}primary_image{% else %}secondary_image{% endif %}" src="{{ image.image.url }}" alt="" style="max-width: 870px; max-height: 1110px;">
            {% endfor %}
        </a>
        <p class="product-title">{{ product.brand }} {{ product.name }}</p>
        <p class="product-price">{{ product.price }} р.</p>
        <form class="add-to-cart" action="{% url 'shop:cart_add' pk=product.pk %}" method="post">
            {{ cart_product_form }}
            {% csrf_token %}
            <input class="btn btn-primary" type="submit" value="В корзину">
        </form>
    </div>
</div>
